{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
            <div class="col-md-6 form-box">
                <form role="form" class="registration-form" action="javascript:void(0);">
                  {% csrf_token %}
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span> Sign Up</h3>
                                <p>Step 1. All field are required.</p>
                            </div>
                        </div>
                        <div class="form-bottom">
                          <div class="row">
                              <div class="form-group col-sm-12">
                                  <input type="text" class="form-control" placeholder="User Name" id="username" autocomplete="off">
                              </div>
                          </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control" placeholder="First Name" id="fname" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control" placeholder="Last Name" id="lname" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email" class="form-email form-control" id="email" autocomplete="off" required>
                            </div>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span> Sign Up</h3>
                                <p>Step 2. All fields are required.</p>
                            </div>
                        </div>
                        <div class="form-bottom">
                          <div class="row">
                              <div class="form-group col-sm-12">
                                  <input type="password" class="form-control" placeholder="Password" id="password" autocomplete="off">
                              </div>
                          </div>
                          <div class="row">
                              <div class="form-group col-sm-12">
                                  <input type="password" class="form-control" placeholder="Retype Password" id="cpassword" autocomplete="off">
                              </div>
                          </div>
                            <div class="row">
                              <div class="form-group col-sm-12">
                                  <input type="text" class="form-control" placeholder="Memorable Word" id="memword" autocomplete="off">
                              </div>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span> Sign Up</h3>
                                <p>Step 3. All fields are required.</p>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <input type="date" class="form-control" id="pref_date" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="biograpy" placeholder="About Me"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control" id="avatar">
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

          // Display the first tab
          $('.registration-form fieldset:first').fadeIn('slow');

          $('#username, #memword').bind('keyup', function(event) {
            // Remove spaces as type
            $(this).val(function(i, v) {return v.replace(/\s/g,'');});
          });

          $('#username').focusout(function(event) {
            // Check if username in use
            $.post('{% url 'user_signup_check' %}', { csrfmiddlewaretoken: csrftoken, username: $('#username').val() }, function(data, status){
              if (data.exists == true) {
                $('#username').addClass('input-error');
              } else {
                $('#username').addClass('input-success');
              }
            });
          });

          // Check email valid
          $('#email').focusout(function(event) {
            $.post('{% url 'user_signup_check' %}', { csrfmiddlewaretoken: csrftoken, email: $('#email').val() }, function(data, status){
              if (data.correct == true) {
                $('#email').addClass('input-success');
              } else {
                $('#email').addClass('input-error');
              }
            });
          });

          // Check passwords meet requirements and match
          $("#password").focusout(function(){
            $.post('{% url 'user_signup_check' %}', { csrfmiddlewaretoken: csrftoken, password: $('#password').val() }, function(data, status){
              if (data.correct == true) {
                $('#password').addClass('input-success');
              } else {
                $('#password').addClass('input-error');
              }
              checkPasswordMatch();
            });
          });

          $("#cpassword").focusout(function(){
            checkPasswordMatch();
          });

          function checkPasswordMatch(){
            if ($('#password').val() == $('#cpassword').val() && $('#password').val().length > 0){
              $('#cpassword').addClass('input-success');
            } else {
              $('#cpassword').addClass('input-error');
            }
          }

          $('.registration-form input').on('focus', function () {
              $(this).removeClass('input-error input-success');
          });

            // next step
            /* Todo, add email check and password checks */
            $('.registration-form .btn-next').on('click', function () {
                var parent_fieldset = $(this).parents('fieldset');
                var next_step = true;

                parent_fieldset.find('input[type="text"],input[type="email"],input[type="password"]').each(function () {
                    if ($(this).hasClass('input-error')){
                        next_step = false;
                    } else if ($(this).val() == "") {
                        $(this).addClass('input-error');
                        next_step = false;
                    }
                });

                if (next_step) {
                    parent_fieldset.fadeOut(400, function () {
                        $(this).next().fadeIn();
                    });
                }

            });

            // previous step
            $('.registration-form .btn-previous').on('click', function () {
                $(this).parents('fieldset').fadeOut(400, function () {
                    $(this).prev().fadeIn();
                });
            });

            // submit
            $('.registration-form').on('submit', function (e) {

                $(this).find('input[type="text"],input[type="email"]').each(function () {
                    if ($(this).val() == "") {
                        e.preventDefault();
                        $(this).addClass('input-error');
                    } else {
                        $(this).removeClass('input-error');
                    }
                });

            });

        });
      </script>
{% endblock %}
